.base_container {
    display: flex;
}

.side_container {
    width: 350px;
    padding: 10px;
}

.plumb_container {
    position: relative;
    width: 100%;
    height: 1024px;
    border: 1px solid lightgray;
    background-color: #FCFCFC;

}

.component_creation_container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.top_hr {

    border-top: 1px solid lightgray;
}

.w {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    background-color: WhiteSmoke;
    opacity: 0.7;
    z-index: 10;
    color: black;
    cursor: move;
}

.w:hover {
    background-color: #629f8d;
}

.group-container {
    position: absolute;
    width: 200px;
    height: 210px;
    border-radius: 12px;
    background-color: WhiteSmoke;
    font-size: 12px;
    cursor: move;
}

.group-container ul {
    margin-left: 25px;
    margin-top: 0px;   
    margin-bottom: 0px;
    padding: 0;
}

.group-container ul li {
    /* list-style-type:circle; */
    list-style-type: none;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    height: 21px;
}

.container_top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contianer_execution_menu {
    align-self: flex-end;
}

.preview_group-container ul li {
    /* list-style-type:circle; */
    list-style-type: none;
    height: 20px;
}

.widget_top_bar {
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #ABC1BB;
}

.widget_middle_bar {
    display: flex;
    align-items: center;
    height: 20px;
    background-color: #DCE4E2;
}

.widget_name {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    width: 100%;
}

.widget_delete {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: default;
}

.preview_init_value {
    padding-left: 10px;
}

.preview_group-container {
    margin: 10px;
    width: 200px;
    height: 210px;
    border-radius: 12px;
    background-color: WhiteSmoke;
    font-size: 12px;
}

#widget1 {
    left: 190px;
    top: 50px;
}

#widget2 {
    left: 380px;
    top: 50px;
}

.synch_content {
    display: flex;
    height: 140px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.state_display_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mechanism_state {
    font-size: 24px
}

.synch_operations {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#select_mechanism {
    display: flex;
    flex-direction: column;
}

#preview_appender_menu {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding-top: 10px;
}

#preview_removal_menu {
    padding-top: 10px;
    align-self: flex-end;
    font-size: 11px;
}

#preview_statements_list {
    padding-left: 25px;
}

.target_latch_count_down {
    margin-left: 12px;
}

.target_latch_await {
    margin-right: 12px;
}

.target_barrier_await {
    margin-left: 12px;
}

.target_barrier_on_zero {
    margin-right: 12px;
}

.target_semaphore_release {
    margin-left: 12px;
}

.target_semaphore_acquire {
    margin-right: 12px;
}

.target_phaser_register {
    margin-left: 12px;
    margin-top: 64px;
}

.target_phaser_unregister {
    margin-right: 10px;
    text-align: right;
    line-height: 175%;
}


/*Bootstrap tab color change and explaination - but it does not work*/
/*https://stackoverflow.com/questions/18018211/change-background-color-of-active-tabs*/

/* for rotationa and centering inside flexbox - NOT IN USE */
.not_used_rotated_text {
    display: block;
    transform: rotate(90deg);

}

/* wrapper around rotated_text */
.not_used_target_latch_count_down {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 14px;
}

/* wrapper around rotated_text */
.not_used_target_latch_await {
    width: 25px;
    display: inline-block;
    border-radius: 3px;
    margin-right: 14px;
}

/*works by this trick https://stackoverflow.com/questions/41426872/flexbox-with-rotated-text*/

/*also try this, uf looks to complicated https://stackoverflow.com/questions/24547729/stack-up-css3-rotated-flexible-boxes */

/*try this https://codepen.io/lellex/pen/WrJqQa */

/*https://css-tricks.com/centering-in-the-unknown/ */

.accented {
    background-color: #77CC77
}

.execution_output {
    display: flex;
    flex-direction: column;
    max-height: 640px;
    overflow: auto;
}

.statement_output {
    font-size: 11px;
}
