.tabs-container {
    display: flex;
    flex-direction: column;
}

.tabs-menu {
    height: 30px;
    display: flex;
    flex-direction: row;
    /* float: left;
    clear: both; */
    margin: -1px;
}

.tabs-menu span {
    /* height: 30px;
    line-height: 30px; */
    /* float: left; */
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu span.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu span a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border-top: 1px solid #d4d4d1;
    background-color: #fff;
    /*     float: left; */
    margin-bottom: 20px;
    width: 100%;
}

.tab-content {
    width: auto;
    padding: 10px;
    display: none;
}

#tab-1 {
    display: block;
}